.features__title {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.features__descript {
    @include font(14px, 24px);
    color: #757575;
    letter-spacing: 0.42px;
}
.features__list {
    display: flex;
    column-gap: 30px;
}
.features__icon__container {
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.futures__icon {
    width: 70px;
    height: 70px;
}