.page-footer {
    text-align: center;

    background-color: #2F303A;
    padding: 60px 0px;
    .web_color {
        color: #2196F3;
    }
    .studio_color {
        color: #FFFFFF;
    }
    .container {
        @media screen and (min-width: 768px) {
            display: flex;
            column-gap: 165px;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media screen and (min-width: 1200px) {
            column-gap: 94px;
            align-items: baseline;
        }
        
    }
}

.local-addres {
    @include font(14px, 16px);
    font-style: normal;
    color: #FFF;
    letter-spacing: 0.42px;
}

.footer-contacts {
    margin-top: 28px;
    .contacts__item:not(:last-child) {
        margin-bottom: 12px;
    }
    .mail, .tel {
        color: rgba(255, 255, 255, 0.60);
        @include font(14px, 16px);
        letter-spacing: 0.42px;
        &:hover,
        &:focus {
            color: #2196F3;
        }
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social__container {
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }
}

.social__title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-social-list {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    margin-top: 20px;
    .social__link {
        background-color: rgba(255, 255, 255, 0.10);
    }
    .social__icon {
        fill: #FFFFFF;
    }
    .social__link:hover,
    .social__link:focus {
        background-color: #2196F3;
    }
}
.footer__form__container {
    b {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    @media screen and (max-width: 1199px) {
        margin-top: 60px;
    }
}

.footer__form {
    margin-top: 20px;
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    .button {
        display: flex;
        align-items: center;
    }

}

.footer__input {
    color: #FFFFFF;
    width: 450px;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0;
    }

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    &::placeholder {
        color: rgba(255, 255, 255, 0.60);
        @include font(16px, 20px);
            letter-spacing: 0.48px;
    }
}

.icon__send {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    margin-left: 10px;
}